# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs
*.log
*.log.*
pids
*.pid
*.pid.*

# dotenv environment variable files
.env

# Project-specific
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local development files
*.local

# Build directories
dist/
build/
tmp/
temp/
